body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

main {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

footer {
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-button:focus {
  border: none !important;
  background-color: white !important;
  outline: 0;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
  outline: 0;
}

btn:focus,
a:focus {
  outline: none !important;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}
